<div class='page_title'>
  <h1>FlashCards Rails App Home</h1>
</div>
<div class='welcome_link' id='welcome_decks'>
  <%= link_to 'View/Manage Decks', decks_path %>
</div>
<div class='welcome_link' id='welcome_cards'>
  <%= link_to 'View/Manage Cards', cards_path %>
</div>
