<div class='form_container'>
  <%= form_for @card do |f| %>
    <p>
      Front:
      <%= f.text_area :front %>
    </p>
    <p>
      Back:
      <%= f.text_area :back %>
    </p>
    <p>
      <%= f.submit submit_msg %>
    </p>
  <% end %>
</div>
