<div class='page_title'>
  <h1>Add Cards to this Deck</h1>
</div>

<div id='deck_description'>
  <p><%= @deck.description %></p>
</div>

<table>
  <% @cards.each do |card| %>
    <tr>
      <td>
    </tr>
